.header {
  background-color: #0968c3;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media only screen and (min-width: 415px)  {
  .header {
    justify-content: left;
  }
  .logo {
    margin-left: 45px;
  }
}
